{% load bootstrap4 %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% bootstrap_css %}
    <title>Geek Chat</title>
</head>
<body>
<div class="container">
    <textarea name="sala" id="sala" cols="70" rows="15"></textarea><br>
    <input type="text" id="texto" size="50"><br>
    {% buttons %}
        <input type="button" id="botao" value="Enviar">
    {% endbuttons %}
</div>

<script>
    var nome_sala = {{ nome_sala_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + nome_sala + '/'
    );

    chatSocket.onmessage = function (e) {
        var dados = JSON.parse(e.data);
        var mensagem = dados['mensagem'];
        document.querySelector('#sala').value += (mensagem + '\n')
    };

    chatSocket.onclose = function (e) {
        console.error('O chat encerrou de forma inesperada');
    };

    document.querySelector('#texto').focus();
    document.querySelector('#texto').onkeyup = function (e) {
        if (e.keyCode === 13) {
            document.querySelector('#botao').click();
        }
    };

    document.querySelector('#botao').onclick = function (e) {
        var mensagemInput = document.querySelector('#texto');
        var mensagem = mensagemInput.value;
        chatSocket.send(JSON.stringify({
            'mensagem': mensagem
        }));
        mensagemInput.value = '';
    };

</script>

{% bootstrap_javascript jquery='full' %}
</body>
</html>